 html, body{
     overflow-x: hidden;
     color: #363F3C;
     font-family: "Questrial"; 
 }

.container {
     margin-right: auto;
     margin-left: auto;
     position: relative;
     overflow: auto; 
     width: 100%;
 }

.row {
     width: 80%;
     margin: 0 auto;
}

/**NAV**/
.nav {
     background-color: #A9C7BD;
     height: 80px;
}

.left, .right {
     float: left;
     width: 50%;
}

.name {
    color: #D3643B;
}

.nav ul {
    text-align: right;
    vertical-align: middle;
    padding-top: 10px;
}

.nav ul li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.nav a, .nav p {
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
    color: #363F3C;
    padding-top: 10px;
}

.nav .about {
    color: #D3643B;
}

/** HERO **/
.hero {
    background-image: url("/images/About-Photo4.png");
    background-size: cover;
    height: 450px;
}

.hero .left {
    width: 70%;
}

h1 {
    padding-top: 70px;
    font-size: 60px;
    color: #F2F1F0;
    font-weight: 500;
    line-height: 10px;
}

h2 {
    font-size: 32px;
    color: white;
    font-weight: 100;
    line-height: 50px;
}

/** BIO **/
.bio p {
    padding-top: 50px;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 50px;
}

span {
    color: #D3643B;
}

/** LINKS **/
.button {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #D3643B;
    color: #FFFFFF;
    font-size: 20px;
    padding: 12px 28px;
    width: 200px;
    text-align: center;
}

.fa {
    color: #363F3C;
    margin-right: 30px;
}

.links ul li {
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    /**padding-right: 35px;
    text-align: center;**/
}

.links ul {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
    

/** FOOTER **/
.footer {
    background-color: #363F3C;
    height: 80px;
}

.footer p {
    padding-top: 16px;
    color: #F2F1F0;;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}