html, body{
    overflow-x: hidden;
    color: #363F3C;
    font-family: "Questrial"; 
 }

.container {
    margin-right: auto;
    margin-left: auto;
    position: relative; 
    width: 100%;
    height: auto;
 }

.row {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/**NAV**/
.nav {
    background-color: #A9C7BD;
    height: 80px;
}

.left, .right {
    float: left;
    width: 50%;
    height: auto;
}

.name {
    color: #D3643B;
}

.nav ul {
    text-align: right;
    vertical-align: middle;
    padding-top: 10px;
}

.nav ul li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.nav a, .nav p {
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
    color: #363F3C;
    padding-top: 10px;
}

.nav .contact {
    color: #D3643B;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;   
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #D3643B;
}

/** HERO **/
.hero {
    background-image: url("/images/About-Photo4.png");
    background-size: cover;
    height: auto;
    overflow: auto;
}

.hero .left {
    width: 70%;
    height: auto;
}

.hero h1 {
    padding-top: 70px;
    font-size: 60px;
    color: #F2F1F0;
    font-weight: 500;
    line-height: 60px;
}

.hero h2 {
    font-size: 32px;
    color: white;
    font-weight: 100;
    line-height: 50px;
    padding-bottom: 70px;
}

/** BIO **/
.bio p {
    padding-top: 50px;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 50px;
}

span {
    color: #D3643B;
}

/** LINKS **/
.button {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #D3643B;
    font-size: 20px;
    padding: 12px 28px;
    width: 200px;
    text-align: center;
}

.fa {
    color: #363F3C;
    margin-right: 45px;
}

.links a {
    text-decoration: none;
    color: #F2F1F0;
}
.links ul li {
    display: inline-block;
    font-size: 48px;
    /**padding-right: 35px;
    text-align: center;**/
}

.links ul {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}    

/** FOOTER **/
.footer {
    background-color: #363F3C;
    height: 80px;
    overflow: auto;
}

.footer p {
    padding-top: 16px;
    color: #F2F1F0;;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

/**CONTACT**/
input, textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #363F3C;
}

input[type=text], textarea {
    border: 2px solid gray;
    border-radius: 4px;
    margin-top: 5px;
    color: #363F3C;
}

input[type=text] {
    height: 30px;
    line-height: 0px;
}

.contact-row {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.name-email {
    overflow: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.form-name, .form-email {
    float: left;
    width: 380px;
    display: block;
    margin: 0 auto;
}

.form-email {
    padding-left: 25px;
}

.form-background {
    width: 80%;
    background-color: lightgray;
    display: block;
    margin: 0 auto;
}

form {
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.contact-button {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #D3643B;
    border: none;
    font-size: 20px;
    padding: 12px 28px;
    width: 101%;
    text-align: center;
    margin-top: 10px;
}

input[type=button] {
    color: #F2F1F0;
}

.contact-intro {
    padding-top: 50px;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

.thankyou {
    color: #D3643B;
    font-weight: 100;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}

/**HAMBURGER**/
.hamburger {
   position:absolute;
   z-index: 1000;
   background: none;
   color:#363F3C;
   text-decoration: none;
   font-size: 35px;
   left: 85%;
   top: 2px;
   padding-top: 5px;
 }

/** MEDIA QUERIES**/
@media (min-width: 100px) and (max-width:702px) {
    .left, .right, .middle {
        width: 100%;
        height: auto;
    }
    
    .left img {
        min-width: 70%;
        height: auto;
    }
    
    .hero .right img {
        display: none;
    }
    
    .nav ul { display: none; }  
}

@media (min-width: 702px) {
     .hamburger { display:none; }
 }
